@import "reset";

$primary: #650300;
$secondary: #aa0601;

//RWD 樣式設定
$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

.title {
  font-size: 48px;
  list-style: 72px;
  color: #650300;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $secondary;
  padding: 20px 84px;
  .logo {
    width: 80px;
    height: 48px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png")
      center no-repeat;
    display: block;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
  }
  .menu {
    display: flex;
    align-items: center;
    li a {
      padding-left: 65px;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
    }
  }
}

.footer {
  background: $secondary;
  display: flex;
  justify-content: center;
  .footer-menu-group {
    display: flex;
    padding: 48px 405px;
    // border: 1px solid #000;
    .footer-menu {
      display: flex;
      align-items: center;
      margin-right: 100px;
      // border: 1px solid #000;
      a {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-right: 48px;
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        width: 48px;
        height: 48px;
        padding-bottom: 20px;
        &.fb {
          background: transparent
            url("https://hexschool.github.io/webLayoutTraining1st/week1/facebook.svg")
            0% 0% no-repeat padding-box;
        }
        &.ig {
          margin: 0 24px;
          background: transparent
            url("https://hexschool.github.io/webLayoutTraining1st/week1/instagram-alt.svg")
            0% 0% no-repeat padding-box;
        }
        &.line {
          background: transparent
            url("https://hexschool.github.io/webLayoutTraining1st/week1/line.svg")
            0% 0% no-repeat padding-box;
        }
      }
    }
  }

  .footer-info {
    // border: 1px solid #000;
    padding: 0 405px;
    padding-bottom: 20px;
    li {
      display: flex;
      align-items: center;
      display: flex;
      color: #fff;
      font-size: 34px;
      line-height: 54px;
      span {
        margin-left: 20px;
      }
    }
    img {
      width: 44px;
      height: 44px;
      display: block;
    }
  }
  .footer-bottom {
    display: flex;
    border-top: 1px solid #fff;
    width: 800px;
    margin-left: 405px;
    padding: 25px 0;

    .footer-copyright {
      display: flex;
    }
    .logo a {
      width: 80px;
      height: 48px;
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      white-space: nowrap;
      text-indent: 101%;
      overflow: hidden;
    }
    .copyright {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 38px;
    }

    .footer-privacy {
      display: flex;
      align-items: center;
      margin-left: 180px;
      li {
        margin-left: 20px;
      }
    }
  }
}

.banner {
  height: 840px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png")
    center no-repeat;
  background-size: cover;
  .banner_text {
    width: 50%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #650300;
    .title {
      font-size: 36px;
      padding-left: 125px;
      flex-wrap: nowrap;
      font-weight: 522px;
    }
    .subtitle {
      font-size: 64px;
      line-height: 96px;
      font-weight: 576px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #aa06010d;
  height: 544px;
  .info_title {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    li {
      margin-left: 60px;
    }
    img {
      width: 100px;
      height: 100px;
      margin: 60px 0 40px 0;
    }
    .title {
      font-size: 24px;
      line-height: 36px;
      color: #650300;
    }
    .text {
      width: 208px;
      text-align: left;
    }
  }
}

.productList {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 60px;
  .product_title {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    margin: 60px 0;
  }
  img {
    width: 635px;
    height: 320px;
  }
  .menu {
    font-weight: bold;
    li {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .content {
        display: flex;
        align-items: center;
        margin: 0 30px;
        img {
          width: 48px;
          height: 38px;
        }
        .title {
          font-size: 48px;
          line-height: 72px;
          color: #aa0601;
        }
      }
      &:nth-child(2) .content {
        order: -1;
      }
    }
  }
}

.design {
  border: 1px solid #000;
  height: 750px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png")
    center no-repeat;
  background-size: cover;
  text-align: center;
  .title {
    color: #fff;
    padding: 65px 0;
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 20px;
      position: relative;
      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 72px;
        line-height: 108px;
        color: #aa0601;
      }
    }
  }
  img {
    width: 540px;
    height: 470px;
  }
}

.suggest {
  display: flex;
  flex-direction: column;
  .title {
    margin: 60px 0;
  }
  .menu {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      margin-left: 45px;
      img {
        width: 255px;
        height: 256px;
      }
      .content {
        padding: 16px;
        .text {
          width: 225px;
          margin: 10px 0;
        }
        .name {
          font-style: 14px;
          line-height: 21px;
        }
        .update {
          font-style: 14px;
          line-height: 21px;
          color: #707070;
        }
      }
    }
  }
}

.contact {
  background: #aa06010d;
  display: flex;
  justify-content: center;
  .wrap {
    width: 730px;
    .title {
      margin-top: 60px;
    }
    .content {
      font-size: 20px;
      line-height: 30px;
      margin: 24px 0;
    }
    form {
      display: flex;
      flex-direction: column;
      form_group {
        display: flex;
        flex-direction: column;
        label {
          font-size: 16px;
          line-height: 24px;
        }
        input {
          height: 50px;
          margin-bottom: 12px;
        }
      }
      .private {
        display: flex;
        padding: 15px 0;
      }
      button {
        display: block;
        align-items: center;
        width: 50%;
        margin: 0 auto;

        padding: 16px 0;
        background-color: #aa0601;
        text-align: center;
        margin-top: 42px;
        transition: 0.5s;
        margin-bottom: 80px;
        &:hover {
          background-color: #8f0400;
        }
      }
    }
  }
}

.product {
  &_menu {
    max-width: 1386px;
    margin: 0 auto;
    // border: 1px solid #000;
    &_item {
      text-align: center;
      font-size: 42px;
      line-height: 63px;
      width: 33.3333%;
      height: 103px;
      transition: all 0.3s;
      border: 1px solid rgb(231, 226, 226);
      border-bottom: 0px;
      text-transform: uppercase;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      @include small-pad-width {
        font-size: 28px;
      }
      @include phone-width {
        font-size: 14px;
      }
      &:hover{
        box-shadow: inset 0 -16px 0px #8f0400;
        @include small-pad-width {
          box-shadow: inset 0 -8px 0px #8f0400;
        }
        @include phone-width {
          box-shadow: inset 0 -4px 0px #8f0400;
        }
      }
    }
    &_img {
      width: 48px;
      height: 37px;
      @include small-pad-width {
        width: 32px;
      }
      @include phone-width {
        width: 15px;
      }
    }
  }
}

.product_banner {
  // width: 945px;
  height: 309px;
  @include small-pad-width {
    height: 32px;
  }
  @include phone-width {
    height: 20px;
    width: 15px;
  }
   img {
      object-fit: cover;
      width: calc((100% - 30px) / 2);
      @include small-pad-width {
          width: 50%;
      }
    }
}

.optical{
  padding-top: 88px;
  padding-bottom: 156px;
  @include small-pad-width {
    padding-top: 40px;
    padding-bottom: 104px;
  }
  @include phone-width {
    padding-top: 30px;
    padding-bottom: 56px;
  }
  &_title{
    text-align: center;
    font-size: 42px;
    line-height: 63px;
    @include small-pad-width {
      font-size: 28px;
    }
    @include phone-width {
      padding-top: 18px;
    }
  }
  &_subtitle{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 40px;
    @include small-pad-width {
      font-size: 22px;
    }
    @include phone-width {
      padding-top: 14px;
    }
  }
  
  .productCard {
    width: calc((100% - 90px) / 4);
    
    @include small-pad-width {
      width: calc((100% - 30px) / 2);
    }
    @include phone-width {
      width: 100%;
    }
    
    &_img{
      width: 100%;
      height: 224px;
    }

    &_body{
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 30px;
      p{
        color:#AA0601;
        margin-bottom: 11px;
      }
    
    }
    &_one{
      width: 19px;
      height: 19px;
      background: #5F3E2D;
    }
    &_two{
      width: 19px;
      height: 19px;
      margin-left: 8px;
      background: #B75929;
    }

  }


}
